@using TermsAndDefinitions.WebUI.ViewModels;
@model SearchQuery

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sidebar{

<ul class="nav nav-sidebar">
    <li><a href="#">Термины<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
    <li><a href="#">Проекты<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
</ul>

    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Поиск</a></li>
        <li><a href="#">Термины</a></li>
        <li><a href="#">Проекты</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Nav item</a></li>
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
        <li><a href="">More navigation</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
    </ul>
}

@{Html.RenderPartial("SearchPage", Model);}


