@using System.Collections;
@using TermsAndDefinitions.WebUI.ViewModels;
@model IEnumerable<VProject>

@if (Model.Count() > 0)
{
    <div class="ans-box">   
        <hr>
        <h4 class="titel-ans-box">Поиск по проектам:</h4>
        <hr>
        @foreach (var item in Model)
        {
            <div class="text-cut-box">
                <div>
                    <p>@item.ProjectName</p>
                </div>
            </div>
        }
    </div>
}