@using System.Collections;
@using TermsAndDefinitions.WebUI.ViewModels;
@model IEnumerable<VTerm>

@if (Model.Count() > 0)
{
    <div>
        <h2>Поиск по термину</h2>
        @foreach (var item in Model)
        {
            <p><span class="term">@item.TermName</span> - @item.Description.Description </p>
        }
    </div>
}
