@using TermsAndDefinitions.WebUI.ViewModels;
@model SearchQuery

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation {
    <ul class="nav">
        <li>@Html.ActionLink("Все", "")</li>
        <li>@Html.ActionLink("Термины", "Terms")</li>
        <li>@Html.ActionLink("Определения", "Definitions")</li>
        <li>@Html.ActionLink("Проекты", "Projects")</li>
    </ul>
}

<div index="SearchResult" class="rows">  
    @{Html.RenderAction("GetResultSearch", "Search", Model);}
</div>
