
@{
    ViewBag.Title = "IndexSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Main">
    @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "content", HttpMethod = "GET" }))
    {
        <div class="input-group stylish-input-group">
            <input type="text" name="queryString" class="form-control" placeholder="Поиск">
            <span class="input-group-addon">
                <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    }

    <div id="content">
        @{
            if (ViewData["query"] == null)
            {
                Html.RenderAction("PreviewFundareaPartical", "Fundarea");
            }
            else
            {
                Html.RenderPartial("SearchPartical", new ViewDataDictionary() { { "query", ViewData["query"].ToString() } });
            }
        }
    </div>
</div>