@using TermsAndDefinitions.WebUI.ViewModels;
@model SearchQuery

<div>
    Строка поиска
</div>

<div index="SearchResult" class="rows" >
    @{Html.RenderAction("GetResultSearch", "Search", Model);}
</div>

