@using TermsAndDefinitions.WebUI.ViewModels;
@model SearchQuery

<div>
    <form action="" method="get">
        <input name="s" placeholder="Поиск" type="search" required>
        <button type="submit">Поиск</button>
    </form>
</div>
<div index="SearchResult">
    @Html.Partial("Search", Model)
</div>

