@using TermsAndDefinitions.WebUI.ViewModels;
@model SearchQuery

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation {
    <ul class="nav">
        <li>@Ajax.ActionLink("Все", "All",new { query = Model.QueryString }, new AjaxOptions { UpdateTargetId = "SearchResult" })</li>
        <li>@Ajax.ActionLink("Поиск среди терминов", "Terms", new { query = Model.QueryString }, new AjaxOptions{ UpdateTargetId = "SearchResult" })</li>
        <li>@Ajax.ActionLink("Поиск по определениям", "Definition", new { query = Model.QueryString }, new AjaxOptions { UpdateTargetId = "SearchResult" })</li>
        <li>@Ajax.ActionLink("Поиск проектов", "Projects", new { query = Model.QueryString }, new AjaxOptions { UpdateTargetId = "SearchResult" })</li>
    </ul>
}


<div class="input-group" id="adv-search">
    <input type="text" class="form-control" placeholder="Search for snippets" />
    <div class="input-group-btn">
        <div class="btn-group" role="group">
            <div class="dropdown dropdown-lg">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="filter">Filter by</label>
                            <select class="form-control">
                                <option value="0" selected>All Snippets</option>
                                <option value="1">Featured</option>
                                <option value="2">Most popular</option>
                                <option value="3">Top rated</option>
                                <option value="4">Most commented</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="contain">Author</label>
                            <input class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="contain">Contains the words</label>
                            <input class="form-control" type="text" />
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </div>
            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
    </div>
</div>

<p class="hr3"></p>
<p>
    <a href="A">A</a>&nbsp;
    <a href="B">B</a>&nbsp;
    <a href="C">C</a>&nbsp;
    <a href="D">D</a>&nbsp;
    <a href="E">E</a>&nbsp;
    <a href="F">F</a>&nbsp;
    <a href="G">G</a>&nbsp;
    <a href="H">H</a>&nbsp;
    <a href="I">I</a>&nbsp;
    <a href="J">J</a>&nbsp;
    <a href="K">K</a>&nbsp;
    <a href="L">L</a>&nbsp;
    <a href="M">M</a>&nbsp;
    <a href="N">N</a>&nbsp;
    <a href="O">O</a>&nbsp;
    <a href="Q">Q</a>&nbsp;
    <a href="R">R</a>&nbsp;
    <a href="S">S</a>&nbsp;
    <a href="T">T</a>&nbsp;
    <a href="U">U</a>&nbsp;
    <a href="V">V</a>&nbsp;
    <a href="W">W</a>&nbsp;
    <a href="X">X</a>&nbsp;
    <a href="Y">Y</a>&nbsp;
    <a href="Z">Z</a>&nbsp;
<p>
    <a href="А">А</a>&nbsp;
    <a href="Б">Б</a>&nbsp;
    <a href="В">В</a>&nbsp;
    <a href="Г">Г</a>&nbsp;
    <a href="Д">Д</a>&nbsp;
    <a href="Е">Е</a>&nbsp;
    <a href="Ж">Ж</a>&nbsp;
    <a href="З">З</a>&nbsp;
    <a href="И">И</a>&nbsp;
    <a href="К">К</a>&nbsp;
    <a href="Л">Л</a>&nbsp;
    <a href="М">М</a>&nbsp;
    <a href="Н">Н</a>&nbsp;
    <a href="О">О</a>&nbsp;
    <a href="П">П</a>&nbsp;
    <a href="Р">Р</a>&nbsp;
    <a href="С">С</a>&nbsp;
    <a href="Т">Т</a>&nbsp;
    <a href="У">У</a>&nbsp;
    <a href="Ф">Ф</a>&nbsp;
    <a href="Х">Х</a>&nbsp;
    <a href="Ц">Ц</a>&nbsp;
    <a href="Ч">Ч</a>&nbsp;
    <a href="Ш">Ш</a>&nbsp;
    <a href="Э">Э</a>&nbsp;
    <a href="Ю">Ю</a>&nbsp;
<p class="hr3"></p>


<div id="SearchResult" class="rows">
    @{Html.RenderAction("GetResultSearch", "Search", Model);}
</div>


