@{
    ViewBag.Title = "Index";
}
@using System.Collections;
@using TermsAndDefinitions.WebUI.ViewModels;
@model IEnumerable<VTerm>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@{
    if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="well">
                <h4>
                    @item.TermName - @item.Description.Description
                </h4>
            </div>
        }
    }
}


