@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation {
<ul class="nav"> 
    <li>@Ajax.RouteLink("Термины", "RouteToTerms", new AjaxOptions { UpdateTargetId = "Main" })</li>
   
    <li>@Ajax.RouteLink("Проекты", "RouteToProjects", new AjaxOptions { UpdateTargetId = "Main" })</li>
</ul>
}

<div id="Main">

</div>




