@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation {
<ul class="nav"> 
    <li>@Ajax.ActionLink("Термины", "Terms", new AjaxOptions { UpdateTargetId = "Result" })</li>
    <li>@Html.ActionLink("Проекты", "Projects", "Search")</li>
</ul>
}

<div id="Result">

</div>




