@model IEnumerable<TermsAndDefinitions.WebUI.ViewModels.PreviewTermViewModel>

@foreach (var item in Model)
{
    <div class="text-cut-box">
        <div>
            <p>
                @Ajax.ActionLink(item.TermName, "Term", new {name = item.TermName}, new AjaxOptions { UpdateTargetId = "Result" }, new { @class="term"}) — @item.Definition
            </p>
        </div>
    </div>
}

