@model TermsAndDefinitions.WebUI.ViewModels.LifeСycleViewModel
@{
    ViewBag.Title = "IndexPreviewLifecyc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Main">
    @{ Html.RenderPartial("LifecycPartical", Model);}
</div>
