@model TermsAndDefinitions.WebUI.ViewModels.TermViewModel
@{
    ViewBag.Title = "Термины и определения - " + Model.TermName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section navigation {
    <ul class="nav">
        <li>@Ajax.RouteLink("Термины", "RouteToTerms", new AjaxOptions { UpdateTargetId = "Main" })</li>
        <li>@Html.ActionLink("Проекты", "Projects", "Search")</li>
    </ul>
}

<div id="Main">
    @{ Html.RenderPartial("TermPartical", Model);}
</div>