@model TermsAndDefinitions.WebUI.ViewModels.AddTermViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Main">    
    @{ Html.RenderPartial("AddPartical", Model);}
</div>

