@model TermsAndDefinitions.WebUI.ViewModels.TermViewModel
@{
    ViewBag.Title = "Термины и определения - " + Model.TermName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Main">
    @*@using (Ajax.BeginForm("Search", new AjaxOptions { UpdateTargetId = "content", HttpMethod = "GET" }))*@

    <div id="content">
        @{ Html.RenderPartial("TermPartical", Model);}
    </div>
</div>