@model TermsAndDefinitions.WebUI.ViewModels.TermViewModel
@{
    ViewBag.Title = "Термины и определения - " + Model.TermName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Main">

        @{ Html.RenderPartial("TermPartical", Model);}

</div>