@model IEnumerable<TermsAndDefinitions.WebUI.ViewModels.PreviewTermViewModel>

<div>
@{

    if (ViewData["anotherTitle"] != null)
    {
        <hr />
        <h4>@ViewData["anotherTitle"].ToString()</h4>
    }
    else
    {
        <hr />
        <h3>Термины и определения</h3>
        <hr />
    }
}
    <ul>
    @foreach (var term in Model)
    {
        <li style=" list-style-type: none">
            <div class="text-cut-box">
                <div>
                    <p>
                        @Ajax.RouteLink(term.TermName, "RouteToTerm", new { name = term.TermName }, new AjaxOptions { UpdateTargetId = "Main" }, new { @class = "term" }) — @term.Definition.Description
                    </p>
                </div>
            </div>
        </li>
    }</ul>

</div>
