/*@import url('site.css');*/

.term {
    font-weight:bold;
}
.rows:not(:last-child) {
    border-bottom: 2px solid #ccc;
}

.text-cut {
    overflow: hidden;
    height: 200px;
    width: 300px;
    line-height: 25px;
}

    .text-cut:before {
        content: "";
        float: left;
        width: 5px;
        height: 200px;
    }

.text-cut > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.text-cut:after {
    content: "\02026";
    box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}

/*_____________________________________________*/

#search {
  width: 235px;
  height: 29px;
}

#search input {
  float: left;
  border: none;
}

#search .input {
  width: 183px;
  height: 28px;
  padding: 0 37px 1px 15px;
  background: #EEE url(https://lh4.googleusercontent.com/-EllJnywnmlY/UAaKJYSYYMI/AAAAAAAABUU/IaRo-yUcRmc/s235/search.png) no-repeat;
  color: #555;
  font: 13px/28px Tahoma, Arial, sans-serif;
  outline: none;
}

@-moz-document url-prefix() {
  #search .input {
    height: 27px;
    padding-bottom: 2px;
  }
}

#search .input:focus {
  background-color: #E8E8E8;
  background-position: 0 -29px;
  color: #333;
}

#search .submit {
  width: 37px;
  height: 29px;
  cursor: pointer;

  margin-left: -37px;

  background: url(dontexist.png);
}