body {
    padding-top: 70px;
}

.text-center {
    padding-top: 10px;
}

.col-xs-12 {
    background-color: #fff;
}

#sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
}

    #sidebar .nav {
        width: 95%;
    }

    #sidebar li {
        border: 0 #f2f2f2 solid;
        border-bottom-width: 1px;
    }
.navbar-toggle {
    float: left;
    margin-left: 15px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) { 
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right .sidebar-offcanvas {
        right: -41.6%;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -41.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active { 
        left: 41.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }
    #sidebar {
        padding-top: 0;
    }
}

/*--------------------------------*/
.term {
    font-weight: bold;
}

.rows:not(:last-child) {
    border-bottom: 2px solid #ccc;
}

.text-cut {
    overflow: hidden;
    height: 200px;
    width: 300px;
    line-height: 25px;
}

    .text-cut:before {
        content: "";
        float: left;
        width: 5px;
        height: 200px;
    }

    .text-cut > *:first-child {
        float: right;
        width: 100%;
        margin-left: -5px;
    }

    .text-cut:after {
        content: "\02026";
        box-sizing: content-box;
        float: right;
        position: relative;
        top: -25px;
        left: 100%;
        width: 3em;
        margin-left: -3em;
        padding-right: 5px;
        text-align: right;
        background-size: 100% 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    }
    /*-----------------------------------*/
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
/*---------------------------*/
ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

    ul.hr li {
        display: inline; /* Отображать как строчный элемент */
        margin-right: 5px; /* Отступ слева */
        padding: 3px; /* Поля вокруг текста */
    }