@model IEnumerable<TermsAndDefinitions.WebUI.ViewModels.InfSysViewModel>

@{
    ViewBag.Title = "IndexPreviewInfsys";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="Main">
    @{ Html.RenderPartial("PreviewInfsysPartical", Model);}
</div>
