@model IEnumerable<TermsAndDefinitions.WebUI.ViewModels.PreviewTermViewModel>


<div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-primary">Глоссарий</a>
    <a href="#" class="btn btn-primary">Поиск</a>
    <a href="#" class="btn btn-primary">Подходящие термины</a>
</div>
<div id="listOfTerms">

</div>

