@model TermsAndDefinitions.WebUI.ViewModels.ProjectViewModel
<div>
    <hr />
    <h4>@Model.ProjectName</h4>
    <p>@Model.Annotation</p>
    <hr />
    <ul class="hr">      
        <li><p>Информационная система: @((string.IsNullOrEmpty(Model.InformationSystem.Name)) ? "Не указана" : Model.InformationSystem.Name)</p></li>
        <li><p>Жизненый цикл проекта: @((string.IsNullOrEmpty(Model.LifeСycle.NameLifeСycle)) ? "Не указан" : Model.LifeСycle.NameLifeСycle)</p></li>
    </ul>
    @if (Model.Glossary != null)
    {
        if (Model.Glossary.Count() > 0)
        {
            <div>
                @{ Html.RenderPartial("GlossaryPartical", Model.Glossary);}
            </div>
        }
     }
</div>