@model TermsAndDefinitions.WebUI.ViewModels.ProjectViewModel

<div>
    <hr />
    <h4>@Model.ProjectName</h4>
    <hr />
    <div>
        <p>Название: @Model.ProjectName</p>
        <p>Информационная система: @((Model.InformationSystem.Name != null) ? "Не указана" : Model.InformationSystem.Name)) </p>
        <p>Жизненый цикл проекта: @(string.IsNullOrEmpty(Model.LifeCycle) ? "Не указан" : Model.LifeCycle)</p>
    </div>
    @if (Model.Glossary != null)
    {
        if (Model.Glossary.Count() > 0)
        {
            <div>            
                @{Html.RenderAction("PreviewTermsPartical", "Term", new { terms = Model.Glossary }); }
            </div>
          }
     }
</div>